{% extends 'error_base.html' %}

{% block title %}Unauthorized{% endblock %}

{% block content %}
<img
        src={{ url_for('main.static', filename='img/unauthorized.png') }}
        alt="Fingerprint"
        class="icon"
/>
<div class="error-code">401</div>
    <p class="title">Unauthorized</p>
    <p> You must be logged in to access this page </p>
    <p> <a href="{{ url_for('auth.login') }}">Click here</a> to login</p>
{% endblock %}

{% block footer %}Icon made by <a href="https://www.flaticon.com/authors/riajulislam" style="color:#888;">riajulislam</a> from <a href="https://www.flaticon.com" style="color:#888;">www.flaticon.com</a>{% endblock %}
