{% extends 'error_base.html' %}

{% block title %}Unprocessable Request{% endblock %}

{% block content %}
<img
        src={{ url_for('main.static', filename='img/bad_request.gif') }}
        alt="bad_request"
        class="gif"
/>
<div class="error-code">422</div>
    <p class="title">Unprocessable Request</p>
    <p> There was a problem with your request</p>
    <p> Please check your input and retry </p>
{% endblock %}

{% block footer %}gif credit: <a href="https://steamcommunity.com/id/WashingM" style="color:#888;">dragoșșșș{% endblock %}
