{% extends 'error_base.html' %}

{% block title %}Server Error{% endblock %}

{% block content %}
<img
        src={{ url_for('main.static', filename='img/server_error.png') }}
        alt="server_error"
        class="icon"
/>
<div class="error-code">500</div>
    <p class="title">Server Error</p>
    <p> Oops! An unexpected error occurred at our end </p>
    <p> Sit tight while we try to fix it</p>
{% endblock %}

{% block footer %}Icon made by <a href="https://www.flaticon.com/authors/leremy" style="color:#888">Leremy</a> from <a href="https://www.flaticon.com" style="color:#888">www.flaticon.com</a>{% endblock %}
