{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center">

        <!-- ISI Logo -->
        <img src="{{ url_for('main.static', filename='img/isi_logo.png') }}" alt="ISI Bangalore Logo" class="mb-4" style="max-width: 200px; height: auto;">

        <h1 class="mb-4">Welcome to Slotify 👕</h1>
        <p class="lead">Easily book your hostel washing machine slots online.</p>
    
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.register_email') }}" class="btn btn-primary mt-4">Get Started</a> 
        {% else %}
            <a href="#" class="btn btn-success mt-4">Go to Booking Calendar</a>
        {% endif %}
    </div>
{% endblock %}
